<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="q1" class="ConstructorInjection_Collections_List.Question">
<constructor-arg value="1"></constructor-arg>
<constructor-arg value="What is java?"></constructor-arg>
<constructor-arg>
<list>
<value>Java is oop language</value>
<value>java is simple language</value>
<value>java is platform independent language</value>
</list>
</constructor-arg>
</bean>  
  
  
  
  
  
  
  
  
  
  
  
</beans>