<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="q1" class="ConstructorInjection_Collections_Map.Question">
<constructor-arg value="1"></constructor-arg>
<constructor-arg value="What is java?"></constructor-arg>
<constructor-arg>
<map>
<entry key="Java is oop lang" value="Amit"></entry>
<entry key="Java is simple" value="Sumit"></entry>
</map>
</constructor-arg>
</bean>
</beans>